@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Mingzat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.color-primary-0 { color: #2F4073 }
.color-primary-1 { color: #7986AC }
.color-primary-2 { color: #50608F }
.color-primary-3 { color: #162656 }
.color-primary-4 { color: #061339 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

a[href]{
    font-family:'Cinzel';
    color: #50608F;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
}


/* HEADINGS */

h1, p {
  color: black;
  line-height: 1.5;
    margin-left: 30px;
}

h1 {
  font-size: 2.2rem;
    font-family: 'Alfa Slab One';
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
  font-family: 'Cinzel';
}

footer {
    padding: 20px;
    background-color: slategray;
    height: 150px;
}

footer img{
    float: right;
    position: relative;
    top: -60px;
    width: 100px;
}

footer a[href]{
    font-family:sans-serif;
    color: #162656;
}


/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
      position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: lightsteelblue;
}

.grad-bar {
  width: 100%;
  height: 10px;
  background: linear-gradient(-45deg, #061339, #162656, #50608F, #7986AC);
  background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

nav ul {
    font-family: BankGothic Md BT;
    margin: 20px;
    width: 100%;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 100px;

}

.navbar img {
  height: 100px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  
}

.nav-item a {
  color: #000;
  font-weight:500;
  text-decoration: none;
  font-family: "BankGothic Md BT";
}

.nav-item a:hover {
  color: rebeccapurple;
}

/* DROPDOWN */

.dropdown li {
    position: relative;
}

.dropdown a:hover, .dropdown a:active, .dropdown a:focus{
    background-color: #7986AC;
}

.dropdown > li > ul{
    display: none;
    position: absolute;
    right: 0px;
    width:100%;
    z-index: 1;
    background-color:#7986AC;
    
}

.dropdown > li:hover > ul {
    display: block;
    padding: 5px;
    margin: 0px;
}

.dropdown > li > ul > li {
    padding: 5px;
}

.dropdown a {
    display: block;
    text-align: center;
    font-size: 20px;
}




/* SECTIONS */

.fontcolor h2 {
    text-align: left;
    font-family: "BankGothic Md BT";
    color: white;
    padding: 15px;
    font-size: 25px;
    float: left;
}

.fontcolor p {
    color: white;
    padding: 20px;
}

.fontcolor p a[href]{
    font-family: sans-serif;
    color: lightblue;
}

.fontcolor a[href]:hover{
    color: lightcoral;
}

.clear{
    clear: both;
}

/* HEADER PAGE IMAGES */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#home{
      background-image: url("assets/Photos/redwoods.jpg");
      justify-content: center;
}

#landscapes{
      background-image: url("assets/Photos/photos_landscapes/halfdome-2.jpg");
    text-align: right;
    padding-right: 5%;
    padding-top: 5%    
}

#wildlife{
    background-image:url("assets/Photos/photos_wildlife/baldeagle1.jpg");
    justify-content: center;
}

#astro{
    background-image:url("assets/Photos/photos_astro/Pleiades.jpg");
    color: blue;
    justify-content: center
}

#astro h1, #astro p {
    color:gray;   
}

#contact {
    background-image:url("assets/Photos/photos_landscapes/Manzanita%20Berries.jpg");
    padding-top: 30px;

}

#contact h1, #contact p {
    color: beige;
}

#info{
    background-image:url("assets/Photos/clouds.jpg");
    padding: 30px;
    text-align: end;
}


/* PHOTO DISPLAY */

figure img {
    width: 100%;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 25px;
    padding-right:25px;

} 
.photos{
    display:flex;
    flex-direction: column;
    background-color:black;
}


.portrait {
    display: flex;
    background-color: gray;
}


/* HOME PAGE MAIN DISPLAY */

.features {
  width: 100%;
  height: auto;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    flex-wrap:wrap
}

.feature-container {
  flex: 50%;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.feature-container img {
  width: 100%;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 768px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
    .portrait{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
    }

/* MOBILE NAVIGATION */

body{
    display: flex;
    flex-direction: column;
}
    
header{
    display:flex;
    flex-direction: column;
    order:1;      
}

footer{
    order:2; 
}
    
footer img{
    display:none;
}
    
.navbar img {
  height: 175px;
  width: auto;
  justify-self: start;
  margin-left: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    height: auto;
}    
    
.navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
  
.navbar li {
    padding: 5px;
}
  
.navbar li a {
    font-size: 1rem;
}  

.dropdown > li > ul {
  display: none;
  position: absolute;
  right: 0px;
  z-index: 1;
  width: 40%;
}
       
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
    
  .feature-container p {
    margin-bottom:0px;
  }
  
  .feature-container {
    margin-top: 0px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }

}

@media only screen and (min-width: 992px) {
    
    .feature-container {
        flex: 30%;
    }
    
}


/* TOOLTIP */

.tip {
  position: relative;
}

.tip:before {
  /* initially hide */
  visibility: hidden;
  
  /* add a delay to any changes to the visibility property */
  transition-property: visibility;
  transition-delay: 0.2s;
  
  /* get the text to display in the tooltip */
  content: attr(aria-label);

  /* add some styling */
  padding: 2px 8px;
  background: #222;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
    font-family: sans-serif;

  /* position it below the parent element */
  position: absolute;
  bottom: 100%;
  
  /* center it horizontally below the parent element */
  left: 50%;
  transform: translateX(-50%);
}

/* show tooltip on hover and when it receives focus */
.tip:hover:before,
.tip:focus:before{
    visibility: visible
}

