/* TABLE SETTINGS*/

#table {
    background-color:black;
    padding: 10px;
}

table, td, th {
    border: solid 5px #2F4073;
    border-spacing: 15px;
    padding: 10px;
    border-collapse:collapse;

}

table caption{
    font-family: 'Cinzel';
    font-size: 40px;
    background-color: lightgray;
    
}

td {
    border: solid 2px black;
}


th {
    border: solid 2px black;
    background-color: #2F4073;
    color: white;
}

tr:nth-child(2n){
    background-color: #7986AC;
}

tr:nth-child(odd){
    background-color: lightsteelblue;
}


tr:hover{
    background-color: cadetblue;
    color: #162656;
}

tr {
    text-align: center;
}

table{
    margin: 20px;
    width: 95%
}

tfoot td {
    background-color: darkgray;
}

